<div class="card">

  <div class="card-header">
  </div>

  <div class="card-body" *ngIf="employeesList">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let employee of employeesList"
              [ngClass]="{'active': employee?.employeeId === selectedEmployee?.employeeId}"
              (click)="employeeSelected(employee)">{{ employee.employeeName }}
      </button>
    </div>
  </div>
</div>

<div class="card" *ngIf="employeeDetail">
  <div class="card-body">
    <employee-detail [selectedEmployee]="employeeDetail"></employee-detail>
  </div>
</div>